<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.1">
    <!-- Filtre pour forcer l'encodage en UTF-8 -->
    <filter>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Page d'accueil redirige vers la liste des clients -->
    <welcome-file-list>
        <welcome-file>clients</welcome-file>
    </welcome-file-list>
</web-app>
